Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans-Database is a collecton of large amount of data.Databse management system is used to         organise and Structure large amount od data at a place.

1.SQLstands for structured Query Language while NoSQl for Not only SQL
2.SQL store data in Tabular format while NoSQL in Document format like JSON, CSV
3.SQL provide Transaction management while NoSQl does not.
4.SQL store Structured data only while NoSQl any type of data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans:- DDL stands for data definition language.DDl is uesd to define structure of schema in         database.
     
      CREATE: This command is used to create the database or its objects.
              Example-CREATE TABLE Student(
                                            Name string,
                                            RollNo int,
                                            addr string,
                                              );

      DROP: This command is used to delete objects from the database.
            Example-DROP TABLE Student
            
      ALTER: This is used to alter the structure of the database.
            Example-ALTER TABLE Student
                    ADD Mobile no int;

      TRUNCATE: This is used to remove all records from a table,
            Example TRUNCATE TABLE Student;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans-The SQL commands that deal with the manipulation of data present in the database belong       to DML or Data Manipulation Language and this includes most of the SQL statements.
 
   INSERT: It is used to insert data into a table.
           Example INSERT INTO Student values(Shubham,41 lucknow,988970564);
   
   UPDATE: It is used to update existing data within a table.
           Example UPDATE Student 
                   SET Named= monu
                   where name=shubham
   
   DELETE: It is used to delete records from a database table
           Example-DELETE from Student
                   where Name=shubham

Q4. What is DQL? Explain SELECT with an example

Ans-DQL commands are used for fetching data from a relational database. They perform read-       only queries of data
    
    SELECT-Select is one of the most important SQL commands. It is used to retrieve data from            a database. One can fetch either the entire table or some data according to                  specified rules.
           example- SELECT* From Student

Q5. Explain Primary Key and Foreign Key.

Ans-Primary key- a column that uniquely identify each record in a row.its value can't be null
                 Example Roll No in a student table
                 
    Foreign key- a column of a table that is primary key of another table is called foreign 
                 table.
                 Example rollno  in Student and Libraray detail table

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# importing required libraries
import mysql.connector

dataBase = mysql.connector.connect(
host ="localhost",
user ="user",
passwd ="password"
)

print(dataBase)

# Disconnecting from the server
dataBase.close()

cursor()-You can create Cursor object using the cursor() method of the Connection                      object/class.
execute()-This method accepts a MySQL query as a parameter and executes the given query.

Q7. Give the order of execution of SQL clauses in an SQL query.

1.from
2.where
3.order by
4.having
5.select